@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  min-width: 1000px;
  overflow-x: hidden;
}

body {
  font-size: 1.4em;
  line-height: 1;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px 1px #333;
}

section:nth-of-type(odd) {
  background-attachment: fixed;
}


.inner {
  width: 800px;
  min-height: 300px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 3px 3px 1px #333;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1em;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
}

img {
  min-width: 100%;
}

#page-top {
  background-image: url(../img/朝日.jpg);
  flex-wrap: wrap;
  align-content: center;
}

#page-top .my-name {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  font-size: 3rem;
}

#page-01 {
  background-image: url(../img/karuizawa\ yoru\ .jpg);
  border-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  color: white;
}

#page-02 {
  background-image: url(../img/ringo.webp);
  color: black;
}

#page-02  img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  border: 1px solid #666;
}

#page-03 {
  background-image: url(../img/mana.jpg);
  text-align: right;
  color: white;
}

#page-04 {
  background-image: url(../img/photo.jpg);
  color: palevioletred;
}